<template>
  <div class="home">
    
  <!--<img alt="Vue logo" src="../assets/logo.png" />-->
    
  <!--
    <button @click=" errored=true ">
      poner en true
    </button>
    <button @click=" errored=false">
      poner en false
    </button>

    <div v-if="errored==true">
      Santafe es muy malo
    </div>

    <div v-else>
      esta en falso
    </div>-->

  <!--
  <div v-for="titan in titanes" v-bind:key="titan" class="card" style="width: 18rem;">
    <img v-bind:src="titan.img" class="card-img-top" alt="">
    
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p>{{titan.name}}</p>     
    </div>
  </div>-->
  

<!--
  <div v-for="titan in titanes" v-bind:key="titan">
    <p>{{titan.name}}</p>
    <img v-bind:src="titan.img">
  </div>-->
  <template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="2000"
      controls
      indicators
      background="#ababab"
      img-width="124"
      img-height="80"      
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide v-for="titan in titanes" v-bind:key="titan"            
        img v-bind:img-src="titan.img" img-width="50" img-height="80"
      >
        <p>{{titan.name}}</p>
      </b-carousel-slide>
    </b-carousel>
>>>>>>> 7407311fa9b6a15f01f3ae345f7ecc1d92e72e56
  </div>
</template>



</div><!--end-->
</template>


<script>
// @ is an alias to /src
import axios from 'axios'

export default {
  name: "Home",
  mounted() {    
  console.log('mounted');  
  this.obtenerTitanes()

  },
  created() {},

  data: function () {
    return { 
      titanes:null,
      loading:true,
      errored:false
    };
  },

  methods: {
    obtenerTitanes(){
      axios.get("https://my-json-server.typicode.com/Joanutsu/SNK-JSON/SNK")
      
      .then((respuesta) =>{         
        this.titanes=respuesta.data;
        console.log(this.titanes);
      })
      
      .catch(()=>{
        console.log("ocurrio un error")
      });
    },
  },
};
</script>

