<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <h1>
      (\__/) (•ㅅ•) ＿ノ ヽ ノ＼ __ / `/ ⌒Ｙ⌒ Ｙ ヽ ( (三ヽ人 / | | ﾉ⌒＼ ￣￣ヽ
      ノ ヽ＿＿＿＞､＿＿_／ ｜( 王 ﾉ〈 /ﾐ`ー―彡\
    </h1>

    <!-- <div v-for="(titan,index) in titanes" :key="index">
      <img v-bind:src="titan.img" alt="">
      <p>{{titan.name}}</p>
      <p>{{titan.Age}}</p>
    </div> -->

    <div v-for="(titan,index) in titanes" :key="index">
      <b-card
        overlay
        img v-bind:img-src="titan.img" img-height="500" img-width="50" 
       
        img-alt="Card Image"
        text-variant="white"
      >
      <h1>{{titan.name}}</h1>
        <b-card-text>
          {{ titan.Age }}
        </b-card-text>
      </b-card>
    </div>
  </div>
</template>



</div><!--end-->
</template>


<script>
import axios from "axios";

export default {
  name: "Home",
  mounted() {
    this.obtenerTitanes();
  },
  created() {},
  components: {},
  data: function () {
    return {
      titanes: null,
      loading: true,
      errored: false,
    };
  },
  methods: {
    obtenerTitanes() {
      axios
        .get("https://my-json-server.typicode.com/Joanutsu/SNK-JSON/SNK")
        .then((respuesta) => {
          this.titanes = respuesta.data;
        })
        .catch(() => {
          console.log("Ocurrio un error");
        });
    },
    ppp() {
      alert("metodo ppp");
    }
  }
};
</script>

